table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 3%;
    width: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 9px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h1, h2 {
    margin-left: 3%;
  }